.nav-pills .nav-link{
    border:1px solid #ddd;
    color:#000;
    background:#fff;
    padding:8px 25px;
}

.nav-pills .nav-link.active{
    background:#000;
    color:#fff;
}

.product-card{
    border-radius:20px;
    overflow:hidden;
}

.product-card img{
    width:100%;
    height:280px;
    object-fit:cover;
    transition:.4s;
}

.product-card{
    border-radius:25px;
    overflow:hidden;
}

.product-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.heart-btn{
    position:absolute;
    top:15px;
    right:15px;
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:#b9b9b9;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    font-size:16px;
}

.heart-btn.active{
    background:#ff4d5a;
}

h5{
    font-size:60px;
    font-weight:400;
}

.price{
    color:#555;
    font-size:18px;
}
.custom-radius{
    border-radius:25px;
}

.hero-card{
    height:550px;
}

.side-card{
    height:263px;
}

.middle-card,
.bottom-card{
    height:300px;
}

.hero-card img,
.side-card img,
.middle-card img,
.bottom-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-card .card-img-overlay{
    padding:35px;
}

.hero-title{
    font-size:64px;
    font-weight:300;
    line-height:0.95;
}

.hero-card p{
    max-width:240px;
    font-size:15px;
    color:#e8e8e8;
}

.side-title{
    font-size:48px;
    font-weight:300;
    color:#111;
    line-height:1;
}

.bottom-title{
    font-size:60px;
    font-weight:300;
    line-height:1;
}

.middle-card h2,
.bottom-card h2{
    font-size:42px;
    font-weight:300;
    line-height:1;
}

.card-img-overlay{
    display:flex;
    flex-direction:column;
}

.middle-card .card-img-overlay,
.bottom-card .card-img-overlay{
    justify-content:space-between;
    align-items:flex-end;
    padding:25px;
}

.middle-card h2,
.bottom-card h2{
    align-self:flex-start;
}

.btn-dark{
    background:#111;
    border:none;
    border-radius:50px;
    padding:14px 34px;
}

.btn-outline-dark{
    border-radius:50px;
    padding:12px 30px;
}

.bi-arrow-up-right{
    font-size:35px;
}

.color {
     width: 33px;
     height: 33px;
 }

 .RED-PASTEL {
     background-color: $RED-PASTEL;
 }

 .LIME-GREEN {
     background-color: $LIME-GREEN;
 }

 .NAVY-BLUE {
     background-color: $NAVY-BLUE;
 }

 .CLEAN-WHITE {
     background-color: $CLEAN-WHITE;
 }

 .BLUE-Sky {
     background-color: $BLUE-Sky;
 }

 .PURPLE {
     background-color: $PURPLE;
 }

 .PINK {
     background-color: $PINK;
 }

 .YELLOW {
     background-color: $YELLOW;
 }

 .DARK-GREEN {
     background-color: $DARK-GREEN;
 }
.backgroundcolor:hover {
    background-color: #000 ;
} 

 .color-d {
     display: flex;
     flex-wrap: wrap;
     max-width: 850px;
     gap: 30px;
 }

 .text {
     width: 220px;
     flex-shrink: 0;
 }
  .swiper{
    width:100%;
    height:560px;
}

.swiper-slide{
    height:560px;
}

.swiper{
    width:100%;
    height:100%;
}

.swiper-slide{
    height:550px;
}

.order-banner,
.order-banner-1,
.order-banner-2{
    width:100%;
    height:500px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.order-banner{
    background-image:url("../image/image\ 16.svg");
}

.order-banner-1{
    background-image:url("../image/fashion2.jfif");
}

.order-banner-2{
    background-image:url("../image/fashion1.jfif");
}

.icon-content{
    width: 120px;
    height: 120px;
}
.icon-content i{
    font-size: 32px;
    color: #fff;
}
.section-padding {
    padding-left: 60px;
    padding-right: 60px;
}
.product-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
}